# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/

#Pyre type checker
.pyre/
.idea/*
mlruns/*
artifacts/*
*.db
pip.conf

# iaac
*.tfstate
*.terraform.lock*
*/.terraform/*

# downloaded helm charts
mysql/
nginx/
